.de-single-wrap >ol>li>a:hover{
	color: #B70429;
}
.de-single-wrap >ol{
	margin-left: 20px;	
}
.de-single-wrap >ol>li>a{
	font-family: "PFBeauSansPro-Book";
}
.de-marginl40 {
	margin-left: 40px !important;
}
.de-vote-btn {
	background: none repeat scroll 0 0 #E32B45 !important;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: inline-block;
	font-family: "PFBeauSansPro-Bold";
	font-size: 14px;
	padding: 10px !important;
	text-align: center;
	text-transform: uppercase;
	width: 160px;
}
.de-voteres-link{
	color: #5C5F62;
	display: block;
	font-family: "PFBeauSansPro-Reg";
	font-size: 14px;
	line-height: 40px;
}